/** @format */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --primary-color: #535bf2;
  --secondary-color: #646cff;
  --background-color: #f5f5f5;
  --text-color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-bg: #3498db;
  --secondary-bg: #ffffff;
  --text-color: #333333;
  /* either --dark-mode or --no-dark-mode */
  --color-scheme: var(--dark-mode);

  --font-family: system-ui;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-300: hsl(219, 76%, 55%);
  --clr-primary-400: hsl(219, 76%, 40%);
  --clr-primary-500: hsl(219, 76%, 25%);
  --clr-secondary-300: hsl(269, 75%, 55%);
  --clr-secondary-400: hsl(269, 75%, 40%);
  --clr-secondary-500: hsl(269, 75%, 25%);
  --clr-accent-300: hsl(358, 72%, 65%);
  --clr-accent-400: hsl(358, 72%, 50%);
  --clr-accent-500: hsl(358, 72%, 35%);

  /* settings */
  --no-dark-mode: light;
  --dark-mode: dark light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  font-size: var(--fs-400);
  line-height: 1.6;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

li {
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  transition: all 0.25s;
  border: none;
}

input {
  font-family: "Rubik", sans-serif;
  direction: rtl;
  border: none;
  outline: none;
  height: 40px;
}

select {
  font-family: "Rubik", sans-serif;
  direction: rtl;
  padding: 0.6em;
  font-size: 0.9rem;
  width: min-content;
  height: 40px;
  background-color: #bebbbb;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}

option {
  background-color: white;
}

.error {
  color: red;
  text-align: center;
}

.form-container {
  direction: rtl;
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: #c5c0c0;
}

.form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 2rem 1rem;
  flex-direction: column;
  gap: 40px;
  border-radius: 15px;
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
  border-radius: 8px;
}

.form-title {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-block: 1.5em;
}

.form-group {
  position: relative;
  width: 250px;
}

.persist-form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

form label {
  direction: rtl;
  position: absolute;
  top: -50%;
  right: 0;
  transform: translateY(-8px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
  z-index: 1;
}

.persist-form-group label {
  position: unset;
  transform: translateY(0);
}

.form-group input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.persist-form-group input {
  width: auto;
}

.form-group input:focus,
.form-group input:valid {
  border: 2px solid #000;
  border-radius: 8px;
}

.form-group p {
  direction: ltr;
  color: red;
}

.success-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  box-shadow: auto;
}

.success-icon {
  color: green;
  font-size: 36px;
}

.success {
  color: green;
  font-size: 18px;
}

.auth-submit-button {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
}

.auth-submit-button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.go-to-link-button {
  display: block;
  width: 100px;
  margin: 20px auto;
  width: 200px;
  background-color: #0078d4;
  color: white;
}

.go-to-link-button a {
  outline: none;
  color: unset;
}

.go-to-link-button a:hover {
  outline: none;
  color: unset;
}

.resend-code-button {
  text-decoration: underline;
  border: none;
  outline: none;
  background: none;
  color: blue;
}

.resend-code-button:hover {
  background: none;
  color: darkblue;
}

.disabled-button {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem;
}

.result {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.result h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.result h4 {
  font-size: 1rem;
  color: #777;
  margin-bottom: 0.5rem;
}

.result p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 0.5rem;
}

.result img {
  max-width: 100%;
  height: auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loading-icon {
  animation: spin 1s linear infinite;
}
.loading-icon-products {
  animation: spin 1s linear infinite;
  font-size: 4rem;
}
.product-cards-list {
  display: flex;
  flex: wrap;
  gap: 1rem;
  padding: 1rem;
}

.Product-detal-container {
  padding: 2rem;
}

.Product-detal-container img {
  display: block;
  max-width: 350px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 985px) {
  .navigation {
    position: absolute;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -100%;
    bottom: -100px;
    right: 0;
    left: 30%;
    background-color: var(--primary-bg);
    padding-block: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(-100%);
    z-index: 2;
  }

  .navigation a {
    color: var(--text-color);
  }
  .navigation a:hover {
    color: rgb(67, 71, 75);
  }
  .navigation.open {
    opacity: 1;
    transform: translateY(0);
    top: 0;
  }

  .hamburger-menu {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
  }

  .hamburger-menu.open .bar {
    background-color: var(--text-color);
  }
}

@media (max-width: 768px) {
  .navigation-container {
    background-color: #213547;
  }
  .bar {
    background-color: red;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .hamburger-menu {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* admin panel dark mode styles: */
.admin-app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);
}

.admin-app.dark .chartGrid {
  stroke: rgba(228, 228, 228, 0.219);
}

.admin-app.dark .table {
  background-color: #111;
}

.admin-app.dark .tableCell {
  color: gray;
}

.admin-app.dark .navbar {
  color: #999;
  border-color: #333;
}

.admin-app.dark .search {
  border-color: gray;
}

.admin-app.dark .sidebar {
  background-color: #111;
  border-color: #333;
}

.admin-app.dark .top .logo {
  color: #999;
}

.admin-app.dark hr {
  border-color: #333;
}

.admin-app.dark li:hover {
  background-color: #333;
}

.admin-app.dark li.icon {
  color: #999;
}

.admin-app.dark .datagrid {
  color: gray;
  border: none;
}

.admin-app.dark .viewButton,
.admin-app.dark .deleteButton,
.admin-app.dark .cellWithStatus {
  color: gray;
  border: none;
}

.admin-app.dark input {
  background-color: transparent;
}
